{% extends 'base.html' %}


{% block title %}變更密碼{% endblock %}



{% block page_content %}



<h1 style="font-family: 'Roboto Slab', serif;">Change Password</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px">新密碼不可與舊密碼重複</div>

    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}
            <input id="old_password" name="old_password" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.old_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_password.label }}
            <input id="new_password" name="new_password" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_password2.label }}
            <input id="new_password2" name="new_password2" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.new_password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      
        <p>
            <input id="submit" name="submit" type="submit" value="變更密碼" class="btn btn-dark">
        </p>
    </form>
{% endblock %}