{% extends 'base.html' %}


{% block title %}變更密碼{% endblock %}



{% block page_content %}



<h1>變更密碼</h1>
    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}
            {{ form.old_password() }}
            {% for error in form.old_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.new_password.label }}
            {{ form.new_password() }}
            {% for error in form.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.new_password2.label }}
            {{ form.new_password2() }}
            {% for error in form.new_password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
      
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}