{% extends 'base.html' %}


{% block title %}

{% if current_user.email %}
修改信箱
{% else %}
新增信箱
{% endif %}

{% endblock %}



{% block page_content %}


{% if current_user.email %}
<h1 style="font-family: 'Roboto Slab', serif;">Edit E-mail</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px">請注意，修改信箱後需重新驗證</div>
{% else %}
<h1 style="font-family: 'Roboto Slab', serif;">Add E-mail</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px">請注意，新增信箱後只能修改無法移除</div>
{% endif %}

    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}
            <input id="password" name="password" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_email.label }}
            <input id="new_email" name="new_email" required type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.new_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_email2.label }}
            <input id="new_email2" name="new_email2" required type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.new_email2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      
        <p>
            {% if current_user.email %}
            <input id="submit" name="submit" type="submit" value="修改信箱" class="btn btn-dark">
            {% else %}
            <input id="submit" name="submit" type="submit" value="新增信箱" class="btn btn-dark">
            {% endif %}
        </p>
    </form>
{% endblock %}