{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}LoginAuth{% endblock %}



{% block page_content %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{msg}}
</div>
{% endfor %}


<h1>LoginAuth</h1>
    {{ wtf.quick_form(form) }} 
    <!-- <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        <p>
            {{ form.remember.label }}
            {{ form.remember() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form> -->
{% endblock %}