{% extends 'base.html' %}


{% block title %}Register{% endblock %}



{% block page_content %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{msg}}
</div>
{% endfor %}


<h1>註冊</h1>
    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
            {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2() }}
            {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email() }}
            {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}