{% extends 'base.html' %}


{% block title %}Register{% endblock %}



{% block page_content %}




<h1 style="font-family: 'Roboto Slab', serif;">Register</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px;font-family: 'Roboto Slab','微軟正黑體','Microsoft JhengHei',sans-serif">
    <ul>
        <li>信箱為選填(非必要)，可於註冊後新增或修改</li>
        <li>信箱目前主要用途為接收重置密碼確認信件</li>
        <li style="color:black">所填密碼皆經過HS256演算法加密後才存入資料庫，本站亦無法得知用戶密碼</li>
    </ul>
</div>

    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <input id="username" name="username" required type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <input id="password" name="password" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            <input id="password2" name="password2" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <input id="email" name="email" type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <input id="submit" name="submit" type="submit" value="註冊" class="btn btn-dark">
        </p>
    </form>
{% endblock %}