{% extends 'base.html' %}


{% block title %}Register{% endblock %}



{% block page_content %}




<h1 style="font-family: 'Roboto Slab', serif;">Register</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px">信箱為選填，可於註冊後新增或修改</div>

    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <input id="username" name="username" required type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <input id="password" name="password" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            <input id="password2" name="password2" required type="password" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <input id="email" name="email" type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <input id="submit" name="submit" type="submit" value="註冊" class="btn btn-dark">
        </p>
    </form>
{% endblock %}