{% extends 'base.html' %}


{% block title %}重置密碼請求{% endblock %}


{% block page_content %}



<h1 style="font-family: 'Roboto Slab', serif;">Send Reset Link</h1>
<div style="color: rgb(155, 155, 155);margin-bottom: 10px">請填入註冊之信箱，系統將發送重置信件至該信箱 </div>

    <form action="" method="post">
            {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            <input id="email" name="email" required type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
  
      
        <p>
            <input id="submit" name="submit" type="submit" value="確認送出" class="btn btn-dark">
        </p>
    </form>
{% endblock %}