body {
    font-family: Lato, '微軟正黑體', 'Microsoft JhengHei', sans-serif !important;
}

.step {
    background-color: #f2eee0;
    font-family: 'Nunito', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    padding: 10px 15px 15px 15px;
    border-radius: 6px;
}

.font-gray {
    color: rgb(185, 185, 185) !important;
}

.font-dark {
    color: rgb(75, 75, 75);
}

.font-red {
    color: red;
}

.font-nav {
    font-family: 'Nunito', sans-serif;
}

.font-blue {
    color: DodgerBlue;
}