{% extends 'base.html' %}

{% block title %} Library Tracker {% endblock %}

{% block js %}
<script>
    function del() {
        var msg = "確定要刪除嗎？";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    } 
</script>
{% endblock %}

{% block page_content %}

{% if current_user.is_authenticated %}
<table class="table table-striped mb-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">書名</th>
            <th scope="col">條碼號</th>
            <th scope="col" class="text-nowrap">館藏</th>
            <th scope="col">索書號</th>
            <th scope="col" class="text-nowrap">類型</th>
            <th scope="col">目前狀態</th>
            <th scope="col" class="text-nowrap">預約</th>
            <th scope="col">更新</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            {% if book[1].copy=='1' %}
            <th scope="row">{{ book[0] }}</th>
            {% else %}
            <th scope="row"></th>
            {% endif %}

            {% if book[1].status == '書在館' %}
            <td><span class="mr-1">{{ book[1].book_name.split(':')[0] }}
                    {% if book[1].book_name.split(':')[1] %}
                    <br><span class="font-blue">
                        {{ book[1].book_name.split(':')[1] }}</span>
                    {% endif %}
                </span>
                {% else %}
            <td class="font-gray"><span class="mr-1">{{ book[1].book_name.split(':')[0] }}</span>
                {% endif %}
                {% if book[1].copy=='1' %}
                <form action="" method="post" style='display:inline;'>
                    {{ form.hidden_tag() }}
                    <input id="book_id" name="book_id" type="hidden" value="{{ book[1].book_id }}">
                    <input id="submit" name="submit" type="submit" value="刪除" class="btn btn-outline-dark btn-sm"
                        onclick="javascript:return del()">
                </form>
                {% endif %}
            </td>

            {% if book[1].status == '書在館' %}
            <td>{{ book[1].barcode_id }}</td>
            <td>{{ book[1].location[:4] }}</td>
            <td>{{ book[1].call_number }}</td>
            <td>{{ book[1].data_type.split('/')[0] }}</td>
            <td>{{ book[1].status }}</td>
            <td>{{ book[1].reservation }}</td>
            <td>{{ (book[1].update_time + delta).strftime("%m-%d %H:%M") }}</td>
            {% else %}
            <td class="font-gray">{{ book[1].barcode_id }}</td>
            <td class="font-gray">{{ book[1].location[:4] }}</td>
            <td class="font-gray">{{ book[1].call_number }}</td>
            <td class="font-gray">{{ book[1].data_type.split('/')[0] }}</td>
            <td class="font-gray">{{ book[1].status }}</td>
            {% if book[1].reservation[0] == '0' %}
            <td class="font-gray">{{ book[1].reservation }}</td>
            {% else %}
            <td><span class="font-red">{{ book[1].reservation }}</span></td>
            {% endif %}
            <td class="font-gray">{{ (book[1].update_time + delta).strftime("%m-%d %H:%M") }}</td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
<div class="mt-2">
    <h2>使用說明</h2>
</div>

<div class="step">
    <h4>1. 至行天宮圖書館網站之藏館查詢首頁</h4>
    連結：<a href="http://hylib.ht.org.tw/webpacIndex.jsp" target="_blank">館藏查詢首頁</a>
</div>
<br>
<div class="step mb-2">
    <h4>2. 搜尋欲借閱書籍，並進入該書籍資料頁面</h4>
</div>
<br>
<div class="step font-nav">
    <h4>3. 複製書籍網址，或截取書籍id</h4>
    <div class="row">
        <div class="col-md-8 mt-2">
            <img src="{{ url_for('static', filename='url.png') }}" width="100%" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mt-2">

            藉由搜尋功能進入書籍資料頁面時，網址很可能會帶有其它參數，如：<br>
            <code>
                http://hylib.ht.org.tw/bookDetail.do?id=192066<strong>&resid=188810387&nowid=1</strong><br>

            </code>
            這些額外參數並不會造成影響，請直接複製整列網址
        </div>
    </div>
</div>
<br>
<div class="step">
    <h4>4. 至個人頁面新增書目</h4>
    <div class="row">
        <div class="col-md-8">

            <img src="{{ url_for('static', filename='add.png') }}" width="100%" alt="">
        </div>
    </div>
</div>
<br>
<div class="step">
    <h4>5. 新增成功後，可至個人首頁檢視所有追縱書目</h4>
    <img src="{{ url_for('static', filename='index.png') }}" width="100%" alt="">
</div>
<br>

{% endif %}

{% endblock %}