{% extends 'base.html' %}

{% block title %}Library Tracker{% endblock %}

{% block js %}
<SCRIPT LANGUAGE=javascript> 
    function del() { 
     var msg = "確定要刪除嗎？"; 
     if (confirm(msg)==true){ 
      return true; 
     }else{ 
      return false; 
     } 
    } 
    </SCRIPT> 

{% endblock %}



{% block page_content %}

{% if current_user.is_authenticated %}
<div style="padding-top:5pt"><h2 style="font-family: 'Roboto Slab', serif;">{{current_user.username}}的個人追縱清單</h1></div>

{% else %}
<div style="padding-top:5pt"><h1>請登入以使用本服務</h1></div>

{% endif %}


{% if current_user.is_authenticated %}

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">書名 (ID)</th>
      <!-- <th scope="col">條碼號</th> -->
      <th scope="col">館藏地/室</th>
      <th scope="col">索書號</th>
      <th scope="col">資料類型</th>
      <th scope="col">目前狀態</th>
      <th scope="col">預約</th>
      <th scope="col">更新時間</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    <tr>
      {% if book[1].copy=='1' %}
      <th scope="row">{{ book[0] }}</th>
      {% else %}
      <th scope="row"> </th>
      {% endif %}
      <td>{{ book[1].book_name }} <span style="color: rgb(155, 155, 155);">{{ book[1].book_id }}</span>

        <form action="" method="post" style='display:inline;'>
            {{ form.hidden_tag() }}
            <input id="book_id" name="book_id" type="hidden" value={{ book[1].book_id }}>
            <input id="submit" name="submit" type="submit" value="刪除" class="btn btn-outline-dark btn-sm"
            onclick="javascript:return del()">
        </form>
      
      
      
      </td>
      <!-- <td>{{ book[1].barcode_id }}</td> -->
      <td>{{ book[1].location }}</td>
      <td>{{ book[1].call_number }}</td>
      <td>{{ book[1].data_type }}</td>
      <td>{{ book[1].status }}</td>
      <td>{{ book[1].reservation }}</td>
      <td>{{ book[1].update_time.strftime("%m-%d %H:%M") }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<br>

{% endif %}



{% endblock %}
