{% extends 'base.html' %}

{% block title %}My Flask Website{% endblock %}

{% block page_content %}


{% if current_user.username %}
<h1>{{current_user.username}}的個人追縱清單</h1>
{% else %}
<h1>請登入以使用本服務</h1>
{% endif %}


{% if current_user.username %}

<table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">書名</th>
            <th scope="col">條碼號</th>
            <th scope="col">館藏地/室</th>
            <th scope="col">索書號</th>
            <th scope="col">資料類型</th>
            <th scope="col">目前狀態</th>
            <th scope="col">預約</th>
            <th scope="col">更新時間</th>
          </tr>
        </thead>
        <tbody>
        {% for book in books %}
          <tr>
            <th scope="row">1</th>
            <td>{{ book.book_name }}</td>
            <td>{{ book.barcode }}</td>
            <td>{{ book.location }}</td>
            <td>{{ book.call_number }}</td>
            <td>{{ book.data_type }}</td>
            <td>{{ book.status }}</td>
            <td>{{ book.reservation }}</td>
            <td>{{ book.barcode }}</td>
          </tr>
        {% endfor %}
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

<table>
    <tr>
        <td>書名</td>
    </tr>
    <tr>
    {% for book in books %}
    <td>{{book}}</td>
    {% endfor %}
    </tr>
</table>

{% endif %}



{% endblock %}
