{% extends 'base.html' %}

{% block title %}{{name|title}}'s Personal Page{% endblock %}

{% block page_content %}

<div class="row">
<div class="col-md-6">
<div class="card">
    <img src="{{ url_for('static', filename='flower.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body font-nav">
       
            <h6>加入時間：{{ time.strftime("%Y-%m-%d") }}</h6>

            {% if current_user.email %}
            <h6>信箱：{{ current_user.email }}
                {% if current_user.confirmed %}
                <span class="badge badge-success" style="font-size: 10pt;margin-left: 3pt">已驗證</span></h6>
                {% else %}
                <span class="badge badge-secondary" style="font-size: 10pt;margin-left: 3pt">未驗證</span></h6>
                {% endif %}
          
            {% endif %}

    </div>
</div>
</div>
</div>

<h3 class="font-nav mt-3">Add Books</h3>
<div class="font-nav font-gray mb-2" >請「擇一輸入」書目網址或書目id </div>
<form action="" method="post">
        {{ form.hidden_tag() }}
    <p>
        {{ form.book_url.label }}
        <input id="book_url" name="book_url" type="text" value="" class="form-control custom-control-inline form-control-sm w-50">
        {% for error in form.book_url.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <label for="book_id" class="font-nav">請輸入書目id</label>
        <input id="book_id" name="book_id" type="text" value="" class="form-control custom-control-inline form-control-sm w-25">
        {% for error in form.book_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
  
    <p>
        <input id="submit" name="submit" type="submit" value="新增書目" class="btn btn-dark">
    </p>
</form>

{% endblock %}
